
$color-light-grey: #8D81AC;
$color-white:#FFFFFF;
$color-grey:#848E97;
$color-rose-grey:#A291A5;
$font-mon:'Montserrat', sans-serif;
$font-lato:'Lato';
$color-dark-grey:#333333;
$color-dark-grey1: #645766;

